body {
  font-family: 'lato';
  margin: 0;
  padding: 0;
}

.container {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction:column;
  gap:1rem;
  padding: 1rem;
}

.large {
flex-grow: 1;
height: 4rem;
background-color: red;
}

.small {
  background-color: white;
  
}

